
<h2>Welcome <b><%=@user.username%></b> </h2>
<br>
Bio:<%=@user.bio%>
<br>

<%=link_to 'Routines', routines_path%>
<%=link_to 'Log Out', logout_path%>
<%=link_to 'Edit Routine', edit_routine_path%>
<%=link_to 'Create a new Routine', new_routine_path%>
