
<div class='appdesign'>
  <%=form_tag products_path do %>
<%@products.each do |product|%>
 <%= fields_for 'products[]', product do |p| %>
<div class="field">
       <%= p.label :brand%><br>
       <%= p.text_field :brand %>
     </div>
     <div class="field">
       <%= p.label :purpose %><br>
       <%= p.text_field :purpose%>
     </div>
     <div class="field">
       <%= p.label :shade %><br>
       <%= p.text_field :shade%>
     </div>

   <% end %>
<% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>

</div>
<%end%>
